.auth__field {
  height: 27px;
  margin: 40px 0 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #CCC;
  color: #CCC;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  background: transparent;
}

.auth__field:last-of-type {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .auth__field {
    margin: 50px 0 0;
  }
}