.popup__title_type_info {
  white-space: pre-line;
  margin: 0 18px 50px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .popup__title_type_info {
    margin: 0 auto 60px;
  }
}