.header__selector {
  padding: 0;
  margin: 0 0 18px 0;
  color: #FFF;
  background: transparent;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  box-sizing: border-box;
  border: none;
}

@media screen and (min-width: 768px) {
  .header__selector  {
    margin: 6px 24px 0 0;
    text-align: right;
  } 
}