.header__link {
  margin: 6px 27px 0 0;
  color: #FFF;
  text-align: right;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .header__link {
    font-size: 18px;
    line-height: 22px;
  } 
}

@media screen and (min-width: 1024px) {
  .header__link {
    margin: 6px 0 0;
  } 
}

.header__link:hover {
  opacity: 0.6;
  transition: 0.2s;
}