.auth__title {
  margin: 40px auto 0;
  padding: 0;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 900;
  
}

@media screen and (min-width: 768px) {
  .auth__title {
    margin: 60px auto 0;
    font-size: 24px;
    line-height: 29px;
  }
}